.el-message-box__wrapper {
    z-index: 12345678 !important;
}
.el-message {
    z-index: 12345678 !important;
}
.CodeMirror{
    height: auto !important;
}
.bin-json-editor{
    height: 50px !important;
}
.youhou-progress .el-progress__text{
    color: #fff;
}
.youhou_text {
    text-overflow: ellipsis ;
    white-space: nowrap;
    overflow: hidden;
}